/* body{
    background-color: purple;
} */

















/* 
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/ab.css" rel="stylesheet">
    </head>
    <body>
    
        <ul>
            <li>
                <a href="..\index.html">
                    <img src="../images/animated.gif" alt="Home!" width="50" height="30" border="0">
                    </a></li>
          </ul><br><br><br>
          
          <div class="about"><h2><p>My first Mobile app is Called Hygiene Promotion and Diseases prevetion, HPDP as it is called contains some useful information to help you understand the meaning , symptoms and preventive measures of some diseases.</p>
                 Always visit your nearest hospital for regular check up.....Thank you
              </h2><br>
            <h3>My Special thanks goes to the following for all the materials and resources used</h3>

            <h3>    
                    UNESCO<br>
                    FCTA<br>
                    Mac Anderson<br>
                    Ministry of Education<br>
                    Microsoft<br>
                    Nigerian Red Cross Society <br>
                    International Federation of the Red Cross<br>
                    Total NG<br>
                    dailymail.co.uk meningitis<br><br>
                    myhealthyfeeling.com  meningitis<br>
                    cornwallive.com  meningitis<br>
                    signhealth.org.uk  meningitis<br>
                    http://researchpedia.info/difference-between-diarrhea-and-cholera/<br>
                    https://www.popsci.com/<br>
                    www.godrejhit.com/  Malaria<br>
                    http://www.oyibosonline.com       Malaria<br>
                    http://www.who.int/mediacentre/factsheets/fs094/en/    Malaria </h3><br>

        
        </div>
          
    
          
        <script type="text/javascript" src="../javascript/p.js"></script> 
    </body>
</html> */